 .arrow_box_right, .arrow_box_bottom, .arrow_box_bottom_big, .last_box {
    padding-top: 5px;
    position: relative;
    border: 1px solid black;
    border-top-color: transparent;
    overflow-wrap: break-word;
}

.arrow_box_begin {
    border-top-color: black;
}

.arrow_box_bottom:after, .arrow_box_bottom:before {
    top: 100%;
    left: 50%;
    border: 1px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_bottom_big:after, .arrow_box_bottom_big:before {
    top: 100%;
    left: 25%;
    border: 1px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_bottom:after, .arrow_box_bottom_big:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: white;
    border-width: 12px;
    margin-left: -12px;
}

.arrow_box_bottom:before, .arrow_box_bottom_big:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: black;
    border-width: 13px;
    margin-left: -13px;
}

.arrow_box_right:after, .arrow_box_right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_right:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: white;
    border-width: 12px;
    margin-top: -12px;
}

.arrow_box_right:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: black;
    border-width: 13px;
    margin-top: -13px;
}