@media screen {
    main, header, footer {
        width: 60%;
        margin: 0 auto;
    }
}

@media print {
    #container-menu {
        display: none;
    }
}

.menu {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

header {
    padding-bottom: 15px;
    padding-top: 15px;
}

.dados_processo {
    padding-top: 5rem;
    font-size: 18px;
}

p {
    text-align: justify;
    text-justify: inter-word;
  }

footer {
    border-top: 1px solid black;
    padding-top: 15px;
    position:relative;
    bottom: 10px;
}

/** Créditos a https://cssgrid-generator.netlify.com/ **/

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top: 1px solid black;
}

.div1, .div3, .div4, .div6, .div7 {
    border-left-color: transparent;
}

.div2, .div3, .div5, .div6, .div7 {
    border-right-color: transparent;
}

.div2, .div5 {
    border-left-color: transparent;
}

.div1 { 
    background-image: url('../img/1.png') !important;
    grid-area: 1 / 1 / 2 / 2;
    background-size: 5% !important;
}
.div2 { 
    background-image: url('../img/2.png') !important;
    grid-area: 1 / 2 / 2 / 3;
    background-size: 18% !important;
}
.div3 { 
    background-image: url('../img/3.png') !important;
    grid-area: 2 / 1 / 3 / 3;
    background-size: 8% !important;
}
.div4 { 
    background-image: url('../img/4.png') !important;
    grid-area: 3 / 1 / 4 / 2;
    background-size: 14% !important;
}
.div5 {
    background-image: url('../img/5.png') !important;
    grid-area: 3 / 2 / 4 / 3;
    background-size: 20% !important;
}
.div6 { 
    background-image: url('../img/6.png') !important;
    grid-area: 4 / 1 / 5 / 3;
    background-size: 10% !important; 
}
.div7 { 
    background-image: url('../img/7.png') !important;
    grid-area: 5 / 1 / 6 / 3;
    background-size: 13% !important;
    border-bottom-color: transparent;
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7 {
    min-height: 150px;
    background-repeat: no-repeat !important;
    background-position: center !important;

    word-break: break-word;
    padding: 15px; 
}